.container-fluid {
  text-align: left;
}

.form {
    margin: 40px;
    
    text-align: left;
  }
  
  .card-right {
  padding: 0%;
  }

  .card-header {
    font-weight: bold;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }