.selfie {
    width: 200%
}

.btn {
    margin-left: 25px;
    margin-right: 25px
}

.profileCard {
    padding-bottom: 5px;
    padding-top: 5px;
    border: black;
    border-style: solid;
    margin: 15px
}